<?xml version="1.0"?>
<model>
  <name>neurobot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Faizan Ahmed Khan</name><email>faizan@example.com</email></author>
  <description>Research mobile robot for neuro-embedded navigation experiments.</description>
</model>
